[submodule "3rdparty/whisper.cpp"]
	path = 3rdparty/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "3rdparty/llama.cpp"]
	path = 3rdparty/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
